.Search .SearchBox {
    min-height: 40px;
    box-sizing: content-box;
    border-bottom: 1px solid #e5e5e5;
}

.SearchBox dl {
    display: flex;
    align-items: center;
}

.SearchBox dt {
    width: 150px;
}

.SearchName {
    font-size: 17px;
    margin: 0 30px;
    font-weight: bold;
}

.SearchInput input, .DateButton button {
    font-size: 15px;
    height: 38px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 2px;
}

.SearchInput input {
    margin: 0 10px;
    width: 200px;
}

.DateButton button {
    margin: 0 5px;
    min-width: 70px;
    background-color: transparent;
    cursor: pointer;
}

.SearchButton {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.SearchButton button {
    font-size: 18px;
    width: 100px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}