.Menu {
  min-height: 70px;
  display: flex;
}

.Header .Logo {
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  align-items: center;
  color: white;
  justify-content: left;
  min-width: 25%;
}

.Header .Logo .React-logo {
  height: calc(20px + 2vmin);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Header .Logo .React-logo {
    animation: React-logo-spin infinite 20s linear;
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header .Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  min-width: 50%;
}

.Header .Menu .Menu-item {
  margin: 0 30px;
}

.Header .My {
  display: flex;
  color: white;
  justify-content: right;
  min-width: 25%;
  font-size: calc(6px + 2vmin);
  align-items: center;
}

.Header .My .My-item {
  margin-right: 10px;
}

.Header .My .Logout-button {
  margin: 0 30px 0 20px;
  font-size: calc(5px + 2vmin);
  background-color: #282c34;
  color: white;
}